/*======================================
    Hero Area CSS
========================================*/
.hero-area {
    position: relative;
    background-color: #fff;
    margin-top: 12px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .md-custom-padding {
      padding-right: 0 !important;
    }
  }
  
  .hero-area .custom-padding-right {
    padding-right: 0;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .custom-padding-right {
      padding-right: calc(var(--bs-gutter-x)/ 2);
    }
  }
  
  @media (max-width: 767px) {
    .hero-area .custom-padding-right {
      padding-right: calc(var(--bs-gutter-x)/ 2);
    }
  }
  
  .hero-area .slider-head {
    position: relative;
    overflow: hidden;
  }
  
  .hero-area .slider-head:hover .tns-controls button:first-child {
    left: 0;
  }
  
  .hero-area .slider-head:hover .tns-controls button:last-child {
    right: 0;
  }
  
  .hero-area .tns-controls button {
    width: 35px;
    height: 60px;
    cursor: pointer;
    z-index: 2;
    color: #fff;
    font-size: 17px;
    background: #0167F3;
    border: none;
    padding: 2px 5px;
    border-radius: 4px;
    -webkit-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    position: absolute;
    z-index: 99;
    top: 50%;
    margin-top: -30px;
    border-radius: 0;
  }
  
  .hero-area .tns-controls button:hover {
    background-color: #081828;
    color: #fff;
  }
  
  .hero-area .tns-controls button:first-child {
    left: -40px;
    border-radius: 0 4px 4px 0;
  }
  
  .hero-area .tns-controls button:last-child {
    right: -40px;
    border-radius: 4px 0px 0px 4px;
  }
  
  .hero-area .hero-slider .single-slider {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .hero-slider .single-slider {
      height: 400px;
      margin-bottom: 12px;
    }
  }
  
  @media (max-width: 767px) {
    .hero-area .hero-slider .single-slider {
      height: 350px;
      margin-bottom: 12px;
    }
  }
  
  .hero-area .hero-slider .single-slider .content {
    padding: 20px 365px 20px 50px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .hero-slider .single-slider .content {
      padding-right: 300px;
    }
  }
  
  @media (max-width: 767px) {
    .hero-area .hero-slider .single-slider .content {
      padding-right: 30px;
      padding-left: 20px;
    }
  }
  
  .hero-area .hero-slider .single-slider .content h2 {
    font-size: 30px;
    font-weight: 800;
    color: #081828;
  }
  
  .hero-area .hero-slider .single-slider .content h2 span {
    font-size: 17px;
    font-weight: 600;
    display: block;
    color: #8a8a8a;
    margin-bottom: 10px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .hero-slider .single-slider .content h2 span {
      font-size: 14px;
      font-weight: 500;
    }
  }
  
  @media (max-width: 767px) {
    .hero-area .hero-slider .single-slider .content h2 span {
      font-size: 14px;
      font-weight: 500;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .hero-slider .single-slider .content h2 {
      font-size: 22px;
    }
  }
  
  @media (max-width: 767px) {
    .hero-area .hero-slider .single-slider .content h2 {
      font-size: 20px;
    }
  }
  
  .hero-area .hero-slider .single-slider .content p {
    margin-top: 20px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .hero-slider .single-slider .content p {
      margin-top: 10px;
    }
  }
  
  @media (max-width: 767px) {
    .hero-area .hero-slider .single-slider .content p {
      margin-top: 10px;
    }
  }
  
  .hero-area .hero-slider .single-slider .content h3 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 800;
    color: #081828;
  }
  
  .hero-area .hero-slider .single-slider .content h3 span {
    display: inline-block;
    margin-right: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #8a8a8a;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .hero-slider .single-slider .content h3 span {
      margin-right: 10px;
      font-size: 14px;
    }
  }
  
  @media (max-width: 767px) {
    .hero-area .hero-slider .single-slider .content h3 span {
      margin-right: 8px;
      font-size: 14px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .hero-slider .single-slider .content h3 {
      font-size: 20px;
    }
  }
  
  @media (max-width: 767px) {
    .hero-area .hero-slider .single-slider .content h3 {
      font-size: 20px;
    }
  }
  
  .hero-area .hero-slider .single-slider .content .button {
    margin-top: 30px;
  }
  
  .hero-area .hero-small-banner {
    height: 244px;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .hero-small-banner {
      height: 240px;
    }
  }
  
  @media (max-width: 767px) {
    .hero-area .hero-small-banner {
      height: 240px;
    }
  }
  
  .hero-area .hero-small-banner .content {
    padding: 30px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .hero-area .hero-small-banner .content h2 {
    font-size: 20px;
    font-weight: 700;
  }
  
  .hero-area .hero-small-banner .content h2 span {
    font-size: 15px;
    font-weight: 500;
    color: #888;
    display: block;
    margin-bottom: 4px;
  }
  
  .hero-area .hero-small-banner .content h3 {
    color: #0167F3;
    font-size: 20px;
    font-weight: 800;
    display: block;
    margin-top: 7px;
  }
  
  .hero-area .hero-small-banner.style2 {
    margin-top: 12px;
    background-image: url("../images/hero/small-banner-bg.png");
    background-color: #081828;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-area .hero-small-banner.style2 {
      margin-top: 0;
    }
  }
  
  .hero-area .hero-small-banner.style2 .content h2 {
    color: #fff;
  }
  
  .hero-area .hero-small-banner.style2 .content h2 span {
    color: #fff;
  }
  
  .hero-area .hero-small-banner.style2 .content p {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    margin-top: 15px;
  }
  
  .hero-area .hero-small-banner.style2 .content .button {
    margin-top: 20px;
  }
  
  .hero-area .hero-small-banner.style2 .content .button .btn {
    background-color: #fff;
    color: #0167F3;
    padding: 10px 25px;
  }
  
  .hero-area .hero-small-banner.style2 .content .button .btn:hover {
    background-color: #0167F3;
    color: #fff;
  }
  
  /*======================================
      Shipping Info CSS
  ========================================*/
  .shipping-info {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  .shipping-info ul {
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
  }
  
  .shipping-info li {
    list-style: none;
    float: left;
    width: 25%;
    padding: 30px 40px;
    border: 1px solid #eee;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .shipping-info li {
      width: 50%;
    }
  }
  
  @media (max-width: 767px) {
    .shipping-info li {
      width: 100%;
    }
  }
  
  .shipping-info li:hover {
    background-color: #fff;
  }
  
  .shipping-info .media-icon {
    margin-bottom: 15px;
  }
  
  .shipping-info .media-icon i {
    color: #0167F3;
    font-size: 35px;
  }
  
  .shipping-info .media-body {
    padding-bottom: 0px;
  }
  
  .shipping-info .media-body h5 {
    font-size: 15px;
    margin: 0px;
    font-weight: 600;
    color: #081828;
  }
  
  .shipping-info .media-body span {
    font-size: 13px;
    margin-top: 2px;
    color: #777;
  }
  
  /*======================================
      Product CSS
  ========================================*/
  /* Single Product*/
  .single-product {
    border: 1px solid #eee;
    border-radius: 4px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 20px #00000012;
    box-shadow: 0px 0px 20px #00000012;
    padding: 8px;
    background: #fff;
  }
  
  .single-product .product-image {
    overflow: hidden;
    position: relative;
  }
  
  .single-product .product-image .sale-tag {
    background: #f73232;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 0;
    padding: 5px 10px;
    left: 0;
    z-index: 22;
  }
  
  .single-product .product-image .new-tag {
    background: #0167F3;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 0;
    padding: 5px 10px;
    left: 0;
    z-index: 22;
  }
  
  .single-product .product-image .button {
    position: absolute;
    display: flex;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -60px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
  }
  
  .single-product .product-image .button .btn {
    padding: 12px 20px;
    font-size: 12px;
    font-weight: 500;
    width: 150px;
  }
  
  .single-product .product-image .button .btn i {
    font-size: 18px;
      position: relative;
      top: 2px;
  }
  
  .single-product .product-image img {
    width: 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .single-product:hover .product-image .button {
    bottom: 30px;
    opacity: 1;
    visibility: visible;
  }
  
  .single-product:hover .product-image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .single-product .product-info {
    padding: 20px;
    background-color: #fff;
  }
  
  .single-product .product-info .category {
    color: #888;
    font-size: 13px;
    display: block;
    margin-bottom: 2px;
  }
  
  .single-product .product-info .title a {
    font-size: 16px;
    font-weight: 700;
    color: #081828;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
    .single-product .product-info .title a {
      font-size: 15px;
    }
  }
  
  .single-product .product-info .title a:hover {
    color: #0167F3;
  }
  
  .single-product .product-info .review {
    margin-top: 5px;
  }
  
  .single-product .product-info .review li {
    display: inline-block;
  }
  
  .single-product .product-info .review li i {
    color: #fecb00;
    font-size: 13px;
  }
  
  .single-product .product-info .review li span {
    display: inline-block;
    margin-left: 4px;
    color: #888;
    font-size: 13px;
  }
  
  .single-product .product-info .price {
    margin-top: 15px;
  }
  
  .single-product .product-info .price span {
    font-size: 17px;
    font-weight: 700;
    color: #0167F3;
    display: inline-block;
  }
  
  .single-product .product-info .price .discount-price {
    margin: 0;
    color: #aaaaaa;
    text-decoration: line-through;
    font-weight: normal;
    margin-left: 10px;
    font-size: 14px;
    display: inline-block;
  }
  
  /* End Single Product */
  .trending-product {
    background-color: #f9f9f9;
  }
  
  .trending-product .section-title {
    margin-bottom: 20px;
  }
  
  /*======================================
      Banner CSS
  ========================================*/
  .single-banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    overflow: hidden;
  }
  
  @media (max-width: 767px) {
    .single-banner.custom-responsive-margin {
      margin-top: 30px;
    }
  }
  
  .single-banner.right {
    text-align: right;
  }
  
  .single-banner.right .content {
    padding: 50px 40px;
  }
  
  .single-banner .content {
    padding: 70px 40px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-banner .content {
      padding: 50px 30px;
    }
  }
  
  @media (max-width: 767px) {
    .single-banner .content {
      padding: 35px;
    }
  }
  
  .single-banner .content h2 {
    font-size: 22px;
    font-weight: 700;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-banner .content h2 {
      font-size: 20px;
    }
  }
  
  @media (max-width: 767px) {
    .single-banner .content h2 {
      font-size: 18px;
    }
  }
  
  .single-banner .content .price span {
    color: #081828;
    display: block;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 700;
  }
  
  .single-banner .content p {
    font-size: 14px;
    margin-top: 15px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-banner .content p {
      margin-top: 10px;
    }
  }
  
  @media (max-width: 767px) {
    .single-banner .content p {
      margin-top: 8px;
    }
  }
  
  .single-banner .content .button {
    margin-top: 25px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-banner .content .button {
      margin-top: 20px;
    }
  }
  
  @media (max-width: 767px) {
    .single-banner .content .button {
      margin-top: 15px;
    }
  }
  
  /*======================================
      Call Action CSS
  ========================================*/
  .call-action {
    background-color: #0167F3;
  }
  
  .call-action .content {
    text-align: center;
  }
  
  .call-action .content h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 42px;
    color: #fff;
    display: block;
    margin-bottom: 20px;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .call-action .content h2 {
      font-size: 28px;
      line-height: 35px;
    }
  }
  
  @media (max-width: 767px) {
    .call-action .content h2 {
      font-size: 22px;
      line-height: 32px;
    }
  }
  
  .call-action .content p {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
  }
  
  .call-action .content .button {
    margin-top: 30px;
  }
  
  .call-action .content .button .btn {
    background-color: #fff;
    color: #081828;
  }
  
  .call-action .content .button .btn:hover {
    color: #fff;
    background: #081828;
  }